@import url('colors.css');
@import url('fonts.css');

.card-style {
    display: 'flex';
    flex-direction: 'column';
    width: 50em;
    margin-left:29%;
    margin-top: 6rem;
}

.blog-style {
    margin-top: 10rem;
}

.body-style {
    font-size: 15px;
    text-align: left;
    margin-left: 1rem;
}

.title-style {
    font-size: 30px;
    text-align: left;
}