@import url('colors.css');
@import url('fonts.css');

.form-horizontal {
    width: 40% !important;
    margin-left: 30%;
}

.register-style {
    border-radius: 3rem;
    margin-top: 8rem;
    bottom: 20rem;
    margin-left: 28%;
    padding-top: 6rem;
    width: 50rem;
    height: 45rem;
    background-color: rgb(20, 23, 25, 0.5);
    font-weight: 600;
    backdrop-filter: blur(10px);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center; /* Items will be centered along the main axis */
    align-items: center; /* Items will be centered along the cross axis */
}

#appleid-signin {
    width: 20px;
    height: 20px;
    /* Add your custom styles here */
    background-color: black; /* Background color */
    color: #ffffff; /* Text color */
    font-size: 16px; /* Font size */
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.textbox-background {
    background-color: rgb(39, 38, 38);
    z-index: 1;
    border: none;
    width: 100%;
    margin: 0 auto;
}

.button-container {
    text-align: center;
}

.button {
    margin: 0 5px;
}